$blue: #003fa2 !default;
$purple: #8c78cf !default;
$red: #dd463c !default;
$orange: #eb7e39 !default;
$yellow: #f1bd4a !default;
$green: #4eba74 !default;
$cyan: #4ba6de !default;

$primary: $blue;
$secondary: rgb(29 74 125);
$info: $cyan;
