.hero {
  background-color: $secondary;
  padding: 100px 0;
  h1 {
    color: white;
    font-size: 2rem;
  }
  .search {
    position: relative;
    .response {
      background-color: white;
      width: 96%;
      left: 2%;
      position: absolute;
      top: 60px;
      padding: 16px;
      border-radius: 0 0 8px 8px;
      border: 1px solid darken($secondary, 10);
      z-index: 9;
      ul {
        list-style: none;
        padding: 0;
        margin-bottom: 0;
        li {
          margin-bottom: 8px;
          a {
            text-decoration: none;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            &:hover {
              color: $info;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .hero {
    padding: 60px 0;
    text-align: center;
    h1 {
      color: white;
      font-size: 1.4rem;
      margin-bottom: 24px;
    }
  }
}
